:root {
    --white: #fff;
    --primary-color: #0A89FF;
    --container: 124rem;
    --warapper: 192rem; 
    --text-color: #292F3D;
    --secondary-text-color: #7B7D80;
}


html {
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
    
}

img {
    display: block;
    max-width: 100%;
}


a {
    display: block;
    text-decoration: none;
}

#wrapper {
    max-width: var(--warapper);
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container {
    max-width: var(--container);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    overflow: hidden;
    transform: perspective(1px);
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-color);
    height: 5.5rem;
    width: 15rem ;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-switch {
    -webkit-appearance: none;
    appearance: none;
    width: 6rem;
    height: 3.2rem;
    background-color: #BABABA;
    border-radius: 3rem;
    margin: 0 2rem;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s linear;
}

.btn-switch:checked {
    background-color: var(--primary-color);
}

.btn-switch::before {
    content: "";
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0.6rem;
    left: 0.4rem;
    transition: left 0.2s linear;
}

.btn-switch:checked::before {
    left: calc(6rem - 0.4rem - 2rem);
}

.btn-icon .fa-angle-right {
    margin-left: 1rem;
    font-size: 1.8rem;
}

.btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    background: #292F3D;
    transform-origin: 100% 50%;
    transition: transform 0.15s linear;
}


.btn:hover::before, .btn:focus::before, .btn:active::before {
    transform-origin: 0 50%;
    transform: scale(1);
}

.circle {
    background-color: rgb(240,247,255);
    width: 80rem;
    height: 80rem;
    border-radius: 50%;
    z-index: -99;
}

